@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  font-family: 'Inter', sans-serif !important;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  font-size: 22px;
  font-weight: normal;
}

.v-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.component-wrapper {
  flex-grow: 1;
  max-width: 1400px;
  padding: 20px;
  display: flex;
  min-height: calc(100vh - 68px);
}

.scrollable {
  flex: 1 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: 0;
}

.dialog-wrapper {
  height: 100%;

  &.scrollable-dialog {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
}

.v-table {
  background-color: transparent !important;
}

#single-user-tabs,
.scrollable-tabs {
  flex-grow: 1 !important;
  display: flex;
  flex-direction: column;

  .v-window__container {
    flex-grow: 1 !important;
    display: flex;
    flex-direction: column;

    .v-window-item.v-window-item--active {
      flex-grow: 1 !important;
      display: flex;
      flex-direction: column;
    }
  }
}
